<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css"/>
</head>
<body>
    {{>header}}
    <p>Weater app uses mapbox API and weatherstack API to get weather and geolocation data. </p>
    <main><img src="./img/robot.jpg"/></main>
    {{> footer}}
</body>
</html>
