<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>
    <link rel="stylesheet" href="./css/styles.css"/>
    <link rel="icon" href="./img/favicon.png"/>
</head>
<body>
    {{>header}}
    <main>
    <form>
        <h3>Get the weather by location right now!</h3>
        <section>
        <input type="text" placeholder="Type location..."/>
        <button type="submit">Search</button>
        </section>
    </form>
    <h2 id="message">{{forcast}} </h2>
    </main>
    {{> footer}}
    <script src="/js/app.js"></script>
</body>
</html>