body {
  color: rgb(65, 68, 71);
  font-family: Arial, sans-serif;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header h1 {
  padding: 0 1rem;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
}
li {
  list-style: none;
  padding: 0.5rem 1rem;
}
li a {
  text-decoration: none;
}

main {
  padding: 1rem;
  flex-grow: 1;
}

footer {
  bottom: 0;
  left: 0;
  border-top: 1px solid lightgray;
  width: 100%;
}

footer p {
  padding: 1rem;
  color: gray;
}

form {
  max-width: 650px;
  margin: 0 auto;
}

form section {
  width: 100%;
  display: flex;
  flex-direction: row;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin: 0 0.5rem;
}
